@model IEnumerable<BooksEntitiesDAL.Book>

@{
    ViewBag.Title = "Index";
}
<h2></h2>

<div id="GridBooks">
    @Html.Partial("GridBooks", Model)
</div>
@section scripts
{
    <script src="~/Scripts/myJS.js"></script>
}