@model IEnumerable<BooksEntitiesDAL.Book>

@{
    ViewBag.Title = "Index";

    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "searchResult",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };

}

<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Ajax.BeginForm("SearchBook", options))
{
    <div>
        @Html.TextBox("keyword",null,htmlAttributes: new { @placeholder="Search by Title or Author", size = "40" , type = "text" })
        <button type="submit" style="display:none">Search</button>
    </div>
    <div id="divLoading" style="width: 200px; display: none; position: absolute;">
        Loading ....
    </div>
}

<div id="searchResult">
    @Html.Action("SearchBook", new { keyword = "" })
</div>


