@model IEnumerable<BooksEntitiesDAL.Book>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<div class="button_box2">
    <div class="form-wrapper-2 cf">
        <input type="text" name="SearchString" id="SearchString" placeholder="Search by Book or Author..." required>
        <button type="submit" id="btnSearch"><i class="glyphicon glyphicon-search"></i></button>
    </div>
</div>

<div id="GridBooks">
    @Html.Partial("GridBooks", Model)
</div>
@section scripts
{
    <script src="~/Scripts/myJS.js"></script>
}