@model string
<div>
    <h2 class="text-left">
        The Data like " <i>@Model</i> " is not found <br />
    </h2>
    <hr />
    <div class="text-left">
        <h3>
            @Html.ActionLink("Home Page", "Index")
        </h3>
    </div>
</div>

